
/* .clearfix { */
    /* overflow: auto; */
/* } */

body {
    margin: 0;
    padding: 0;
    border: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.expand {
    position: relative;
    height: 100%;
    width: 100%;
}

.leaflet-container.rack-thumbnail {
    /* center the thumbnail */
    max-height: 100%;
    max-width: 300px !important;
    /* width: 100%; */
    margin: auto;
}

.leaflet-container .rack-thumbnail img {
    position: relative;
    /* `leaflet-container img` sets `max-width: none !important` :( */
    max-height: 100%;
}
