<div class="popupContent expand">
    {{marker.id}}
    <div class="rack-thumbnail">
        <div ng-show="marker.currentPhoto && !loading">
            <img ng-src="{{marker.currentPhoto}}"></img>
        </div>
        <i class="glyphicon glyphicon-time" ng-show="!marker.currentPhoto && loading"></i>
    </div>
    <div class="rack-info">
        <div>{{marker.address}}</div>
    </div>
    <div ng-controller="SubmitModalCtrl as smc">
        <div class='hidden'>
            <input type="file" ng-model='smc.photoFile' id="photo-chooser" accept="image/*" capture>
        </div>
        <button id="launch" class="btn btn-primary" ng-click="smc.takePhoto()">Take a photo...</button>
    </div>
</div>
