<div class="popupContent expand">
    {{marker.id}}
    <div class="rack-thumbnail">
        <div ng-show="marker.photos.length" ng-repeat="photo in marker.photos">
            <img ng-src="{{marker.currentPhoto}}"></img>
        </div>
    </div>
    <div class="rack-info">
        <div>{{marker.address}}</div>
        <div class="hidden">
            <input type="file" ng-model='text' id="photoChooser" marker={{marker.id}} accept="image/*" capture>
        </div>
        <button class="btn btn-primary"
                onclick="takePhoto()">Take a photo...</button>
    </div>
</div>
