<div class="popupContent expand">
    {{marker.id}}
    <div class="rack-thumbnail">
        <div ng-show="marker.currentPhoto && !loading">
            <img ng-src="{{marker.currentPhoto}}"></img>
        </div>
        <i class="glyphicon glyphicon-time" ng-show="!marker.currentPhoto && loading"></i>
    </div>
    <div class="rack-info">
        <div>{{marker.address}}</div>
        <div class="hidden">
            <input type="file" ng-model='text' id="photoChooser" marker={{marker.id}} accept="image/*" capture>
        </div>
        <button class="btn btn-primary"
                onclick="takePhoto()">Take a photo...</button>
    </div>
</div>
